{% extends "bootstrap/base.html" %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}

{% block title %}DeepFit{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='dp.ico')}}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='dp.ico')}}" type="image/x-icon">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">DeepFit</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('list_agent') }}">Find Agent</a></li>
                <li><a href="{{ url_for('list_post') }}">Find Home</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                {% if g.user.is_authenticated %}
                <li><a href="{{ url_for('user', nickname = g.user.nickname) }}">MyProfile</a></li>
                <li><a href="{{ url_for('signout') }}">Sign Out</a></li>
                {% else %}
                <li><a href="{{ url_for('signin') }}">Sign In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    <div class="row">
        <div class="span12"> {% block page_content %}{% endblock %}</div>
    </div>
</div>
{% endblock %}
