<!-- extend base layout -->
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}DeepFit - Contact{% endblock %}

{% block page_content %}

{% if success %}
<p>Thank you for your message. We'll get back to you shortly.</p>
{% else %}
<legend>Contact Us</legend>
<div>
    {{ wtf.quick_form(form) }}
</div>
{% endif %}

<address>
    <strong>DeepFit, Inc.</strong> <br>
    <i class="icon-home"></i>795 Yonge, Suite 600<br>
    Toronto, ON L4M 2J4<br>
    <i class="icon-phone"></i> (123) 456-7890<br>
    <i class="icon-envelope"></i>
    <a href="mailto:#">alvinuw@gmail.com</a>
</address>
{% endblock %}
