<!-- extend base layout -->
{% extends "base.html" %} {% block content %}
<legend>Set Home Preference</legend>
{% include 'flash.html' %}
<div class="well">
	<form class="form-horizontal" action="" method="POST" name="edit"
		enctype=multipart/form-data>
		{{form.hidden_tag()}}
		<div class="control-group{% if form.errors.post %} error{% endif %}">
			<label class="control-label" for="nickname">Your nickname:</label>
			<div class="controls">
				{{ form.nickname(maxlength = 64, class = "span4") }} {% for error in
				form.errors.nickname %} <span class="help-inline">[{{error}}]</span><br>
				{% endfor %}
			</div>
		</div>
		
		<div class="control-group{% if form.errors.post %} error{% endif %}">
			<label class="control-label" for="Phone">Phone No.:</label>
			<div class="controls">
				{{ form.phone(maxlength = 10, class="input-medium", pattern="[0-9]{10}", placeholder="no space or -") }} {% for error in
				form.errors.phone %} <span class="help-inline">[{{error}}]</span><br>
				{% endfor %}
			</div>
		</div>
		
		<div class="control-group{% if form.errors.post %} error{% endif %}">
			<label class="control-label" for="about_me">About yourself:</label>
			<div class="controls">
				{{ form.about_me(cols = 64, rows = 4, class = "span4") }} {% for
				error in form.errors.about_me %} <span class="help-inline">[{{error}}]</span><br>
				{% endfor %}

			</div>
		</div>

		<div class="control-group{% if form.errors.post %} error{% endif %}">
			<label class="control-label" for="avatar">Your Avatar:</label>
			<div class="controls">

				{{form.fileName(size = 12, maxlength = 10, class = "span4")}} {% for
				error in form.errors.fileName %} <span class="help-inline">[{{error}}]</span><br>
				{% endfor %}

			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input class="btn btn-primary" type="submit" value="Save"> <a
					href="{{ url_for('user', nickname = form.nickname.data) }}"
					class="btn">Cancel</a>

			</div>
		</div>
	</form>
</div>
</form>
{% endblock %}
