<!-- extend base layout -->
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block page_content %}

{% if g.user.is_authenticated %}
<h3>Hi, {{g.user.nickname}}!</h3>
{% else %}
<h3>Welcome Guest! Please Sign Up!</h3>
{% endif %}

{% if g.user.role %}
<div class="well">
    <p>
        <a href="{{ url_for('main.edit_post', pid=0)}}" class="btn btn-primary btn-middle">
            <strong>Start a Post!</strong>
        </a>
    </p>
</div>

{% else %}
<div>
    {{ wtf.quick_form(form) }}
</div>
{% endif %}

<div>
{% for post in posts.items %}
{% include 'post.html' %}
{% endfor %}
</div>

<ul class="pager">
    {% if posts.has_prev %}
    <li class="previous">
        <a href="{{ url_for('main.list_post', page = posts.prev_num) }}">Newer posts</a>
    </li>
    {% else %}
    <li class="previous disabled">
        <a href="#">Newer posts</a>
    </li>
    {% endif %}

    {% if posts.has_next %}
    <li class="next">
        <a href="{{ url_for('main.list_post', page = posts.next_num) }}">Older posts</a>
    </li>
    {% else %}
    <li class="next disabled">
        <a href="#">Older posts</a>
    </li>
    {% endif %}
</ul>

{% endblock %}
