<style type="text/css">
#myModal label { width: auto!important; display:inline!important; }
#myModal img { max-width: none!important; }
#mapcanvas {width:520px; height:400px}
#mapcanvas label { width: auto!important; display:inline!important; }
#mapcanvas img { max-width: none!important; }

</style>
 
 
 <!-- Modal -->
  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3 id="myModalLabel">{{post.title}}</h3>
    </div>
    <div class="modal-body">
      <div id="mapcanvas"></div>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>      
    </div>
  </div>



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="/static/js/jquery-1.9.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">
     myLatlng = new google.maps.LatLng({{post.coordinate}});
     centerLatlng = new google.maps.LatLng({{post.coordinate}});
     m_title = "Price: CAD$ "+{{post.price}}
      //start of modal google map
      $("#myModal").modal({
          show: false
      }).on("shown", function()
      {
          var map_options = {
            zoom: 14,
            mapTypeControl: false,
            center:centerLatlng,
            panControl:false,
            rotateControl:false,
            streetViewControl: false,
            mapTypeId: google.maps.MapTypeId.ROADMAP
          };

        var map = new google.maps.Map(document.getElementById("mapcanvas"), map_options);

         var contentString = '<div id="mapInfo">'+
            '<p><strong>'+m_title+'</strong><br>'+
            '</div>';

          var infowindow = new google.maps.InfoWindow({
            content: contentString
          });
          
         
          var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title:m_title,
                  maxWidth: 200,
                  maxHeight: 200
          });
          
          google.maps.event.addListener(marker, 'click', function() {
             infowindow.open(map,marker);
          });
          infowindow.open(map,marker);
      });
      //end of modal google map
    </script>

