{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}

{% for message in form.email.errors %}
<div class="flash">{{ message }}</div>
{% endfor %}

{% for message in form.password.errors %}
<div class="flash">{{ message }}</div>
{% endfor %}

<form action="{{ url_for('signin') }}" method=post>
    {{ form.hidden_tag() }}
    <fieldset>
        <legend>Sign In</legend>
        {{ form.email.label }}
        {{ form.email(type="email") }}
        {{ form.password.label }}
        {{form.password }}
        <label class="checkbox"> {{ form.remember_me}}
            {{ form.remember_me.label }} </label>
        <p>
            <a href="{{ url_for('signup') }}">Don't have an acount?</a>
        </p>
        <button type="submit" class="btn btn-primary">Sign In</button>
    </fieldset>
</form>

{% endblock %}
